<a href="https://colab.research.google.com/github/chemineer/Python-and-R/blob/main/Chap08_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
head(score,3)
dim(score)
score$total=score$midterm + score$final
head(score,3)
sapply(score[,-c(1:2)],mean,na.rm=TRUE)
sapply(score[,-c(1:2)],sd,na.rm=TRUE)
summary(score[,-1])
class(score$gender)
class(score$midterm)
fivenum(score$total)

  id    gender midterm final
1 13001 f      60      80
2 13003 m      90      72
3 13013 m      76      85

[1] 89  4

  id    gender midterm final total
1 13001 f      60      80    140
2 13003 m      90      72    162
3 13013 m      76      85    161

  midterm     final     total
 66.89888  55.75281 122.65169

 midterm    final    total
19.06034 24.08804 37.88232

    gender             midterm          final           total
 Length:89          Min.   : 22.0   Min.   : 0.00   Min.   : 35.0
 Class :character   1st Qu.: 52.0   1st Qu.:40.00   1st Qu.: 99.0
 Mode  :character   Median : 71.0   Median :55.00   Median :128.0
                    Mean   : 66.9   Mean   :55.75   Mean   :122.7
                    3rd Qu.: 82.0   3rd Qu.:75.00   3rd Qu.:154.0
                    Max.   :100.0   Max.   :93.00   Max.   :193.0

[1] "character"

[1] "integer"

[1]  35  99 128 154 193

ERROR: ignored

In [8]:
install.packages('psych')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘tmvnsim’, ‘mnormt’

In [10]:
library(psych)

score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
score$total=score$midterm + score$final

describe(score[,-c(1:2)])
Dscore=describe(score[,-c(1:2)])
names(Dscore)

        vars n  mean      sd       median trimmed   mad     min max range
midterm 1    89  66.89888 19.06034  71     67.84932 19.2738 22  100  78
final   2    89  55.75281 24.08804  55     57.45205 25.2042  0   93  93
total   3    89 122.65169 37.88232 128    124.76712 40.0302 35  193 158
        skew       kurtosis   se
midterm -0.3968489 -0.6559548 2.020392
final   -0.5054800 -0.5121913 2.553327
total   -0.4486563 -0.6932943 4.015518

 [1] "vars"     "n"        "mean"     "sd"       "median"   "trimmed"
 [7] "mad"      "min"      "max"      "range"    "skew"     "kurtosis"
[13] "se"