<a href="https://colab.research.google.com/github/chemineer/Python-and-R/blob/main/Chap09_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
head(score,3)
dim(score)
score$total=score$midterm + score$final
head(score,3)
sapply(score[,-c(1:2)],mean,na.rm=TRUE)
sapply(score[,-c(1:2)],sd,na.rm=TRUE)

  id    gender midterm final
1 13001 f      60      80
2 13003 m      90      72
3 13013 m      76      85

[1] 89  4

  id    gender midterm final total
1 13001 f      60      80    140
2 13003 m      90      72    162
3 13013 m      76      85    161

  midterm     final     total
 66.89888  55.75281 122.65169

 midterm    final    total
19.06034 24.08804 37.88232