<a href="https://colab.research.google.com/github/chemineer/Python-and-R/blob/main/Chap08_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
head(score,3)
dim(score)
score$total=score$midterm + score$final
head(score,3)
sapply(score[,-c(1:2)],mean,na.rm=TRUE)
sapply(score[,-c(1:2)],sd,na.rm=TRUE)
summary(score[,-1])
class(score$gender)
class(score$midterm)
fivenum(score$total)

  id    gender midterm final
1 13001 f      60      80
2 13003 m      90      72
3 13013 m      76      85

[1] 89  4

  id    gender midterm final total
1 13001 f      60      80    140
2 13003 m      90      72    162
3 13013 m      76      85    161

  midterm     final     total
 66.89888  55.75281 122.65169

 midterm    final    total
19.06034 24.08804 37.88232

    gender             midterm          final           total
 Length:89          Min.   : 22.0   Min.   : 0.00   Min.   : 35.0
 Class :character   1st Qu.: 52.0   1st Qu.:40.00   1st Qu.: 99.0
 Mode  :character   Median : 71.0   Median :55.00   Median :128.0
                    Mean   : 66.9   Mean   :55.75   Mean   :122.7
                    3rd Qu.: 82.0   3rd Qu.:75.00   3rd Qu.:154.0
                    Max.   :100.0   Max.   :93.00   Max.   :193.0

[1] "character"

[1] "integer"

[1]  35  99 128 154 193

ERROR: ignored

In [3]:
install.packages('psych')
library(psych)

score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
score$total=score$midterm + score$final

describe(score[,-c(1:2)])
Dscore=describe(score[,-c(1:2)])
names(Dscore)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘tmvnsim’, ‘mnormt’

        vars n  mean      sd       median trimmed   mad     min max range
midterm 1    89  66.89888 19.06034  71     67.84932 19.2738 22  100  78
final   2    89  55.75281 24.08804  55     57.45205 25.2042  0   93  93
total   3    89 122.65169 37.88232 128    124.76712 40.0302 35  193 158
        skew       kurtosis   se
midterm -0.3968489 -0.6559548 2.020392
final   -0.5054800 -0.5121913 2.553327
total   -0.4486563 -0.6932943 4.015518

 [1] "vars"     "n"        "mean"     "sd"       "median"   "trimmed"
 [7] "mad"      "min"      "max"      "range"    "skew"     "kurtosis"
[13] "se"

In [6]:
score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
score$total=score$midterm + score$final

head(score,3)
tapply(score$total, score$gender, mean)
tapply(score$total, score$gender, sd)
tapply(score$total, score$gender, length)

xbar=tapply(score$total, score$gender, mean)
s=tapply(score$total, score$gender, sd)
n=tapply(score$total, score$gender, length)
cbind(mean=xbar, stdev=s, n=n)

aggregate(score[c("midterm","final","total")], list(gender=score$gender),mean)
aggregate(score[c("midterm","final","total")], list(gender=score$gender),sd)
aggregate(score[c("midterm","final","total")], list(gender=score$gender),length)

by(score[,3:5],score$gender,summary)

  id    gender midterm final total
1 13001 f      60      80    140
2 13003 m      90      72    162
3 13013 m      76      85    161

       f        m
122.7714 122.5741

      f       m
34.2955 40.3511

 f  m
35 54

  mean     stdev   n
f 122.7714 34.2955 35
m 122.5741 40.3511 54

  gender midterm  final    total
1 f      65.57143 57.20000 122.7714
2 m      67.75926 54.81481 122.5741

  gender midterm  final    total
1 f      16.37122 21.99305 34.2955
2 m      20.72091 25.51143 40.3511

  gender midterm final total
1 f      35      35    35
2 m      54      54    54

score$gender: f
    midterm           final          total
 Min.   : 33.00   Min.   : 0.0   Min.   : 35.0
 1st Qu.: 52.50   1st Qu.:44.5   1st Qu.:102.5
 Median : 64.00   Median :55.0   Median :122.0
 Mean   : 65.57   Mean   :57.2   Mean   :122.8
 3rd Qu.: 76.50   3rd Qu.:76.5   3rd Qu.:152.0
 Max.   :100.00   Max.   :89.0   Max.   :172.0
------------------------------------------------------------
score$gender: m
    midterm           final           total
 Min.   : 22.00   Min.   : 0.00   Min.   : 36.0
 1st Qu.: 50.50   1st Qu.:38.00   1st Qu.: 91.5
 Median : 72.00   Median :56.00   Median :133.0
 Mean   : 67.76   Mean   :54.81   Mean   :122.6
 3rd Qu.: 82.75   3rd Qu.:74.75   3rd Qu.:156.5
 Max.   :100.00   Max.   :93.00   Max.   :193.0

In [7]:
install.packages('psych')
library(psych)

score=read.csv('https://raw.githubusercontent.com/chemineer/Python-and-R/main/score.csv',header=T)
score$total=score$midterm + score$final

describeBy(score[,c(3:5)],score$gender)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

 Descriptive statistics by group
group: f
        vars  n   mean    sd median trimmed   mad min max range  skew kurtosis
midterm    1 35  65.57 16.37     64   65.69 17.79  33 100    67  0.05    -0.76
final      2 35  57.20 21.99     55   58.83 23.72   0  89    89 -0.60    -0.06
total      3 35 122.77 34.30    122  125.24 38.55  35 172   137 -0.56    -0.47
          se
midterm 2.77
final   3.72
total   5.80
------------------------------------------------------------
group: m
        vars  n   mean    sd median trimmed   mad min max range  skew kurtosis
midterm    1 54  67.76 20.72     72   69.09 19.27  22 100    78 -0.57    -0.72
final      2 54  54.81 25.51     56   56.39 27.43   0  93    93 -0.42    -0.82
total      3 54 122.57 40.35    133  124.50 42.25  36 193   157 -0.39    -0.90
          se
midterm 2.82
final   3.47
total   5.49