<a href="https://colab.research.google.com/github/chemineer/Python-and-R/blob/main/mid_term.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2-3 파이썬을 이용하여 “Hello Python!”을 인쇄하는 프로그램을 작성하여 D:\lang\python\hello.py라는 파일로 저장하고 이 파일을 아나콘다 프롬프트를 통하여 실행하려면 어떻게 할 것인지 과정을 설명하시오.

In [ ]:
print('Hello Python!')

Hello Python!

[실행방법]
1. 아나콘다 프롬프트에서 D:/lang/python 폴더로 이동하여 python hello.py 실행
2. 폴더를 이동하는 대신 python D:/lang/python/ hello.py 실행

3-2 x1,x2,x3를 다음과 같이 리스트로 정의한 후 이 3개의 리스트를 value로 갖는 파이썬 dictionary를 만드시오 (딕셔너리의 key값은 각각 name,height,weight로 한다) 
x1 = [‘kim’, ‘lee’, ‘park’]
x2 = [170,160,180]
x3 = [60,55,75]

In [ ]:
x1 = ['kim', 'lee', 'park']
x2 = [170,160,180]
x3 = [60,55,75]

dict={'name':x1, 'height':x2, 'weight':x3}
print(dict)

{'name': ['kim', 'lee', 'park'], 'height': [170, 160, 180], 'weight': [60, 55, 75]}

3-3 위에서 만든 딕셔너리로 파이썬 데이터프레임을 만드시오. 이 데이터프레임에서 첫번째 사람 kim의 키와 몸무게 두 값(이름 제외)만 배열로 추출하시오.

In [ ]:
import pandas as pd
import numpy as np

x1 = ['kim', 'lee', 'park']
x2 = [170,160,180]
x3 = [60,55,75]

dict={'name':x1, 'height':x2, 'weight':x3}
df1=pd.DataFrame(data=dict)

arr=np.array(df1.iloc[0,[1,2]])
print(arr)

[170 60]

4-1 1부터 5 사이의 자연수의 값을 순서대로 인쇄하는 프로그램을 for문과 while문을 이용하여 파이썬으로 작성하시오

4-4 숫자를 입력받아 이 숫자가 양수인지 음수인지 0인지 판단하여 출력해 주는 함수 mysign을 파이썬을 사용하여 작성하시오.

4-7 주당 근무시간이 40시간 이내면 시간당 임금이 1만원이고 40시간이 초과되는 부분에 대해서는 1.5배를 지급하는 경우 주당 근무시간을 입력받으면 출력으로 임금이 계산되는 함수 mywage를 파이썬으로 작성하시오.

4-9 다음은 R에서 example 함수문을 만들고 실행한 사례이다. 파이썬에서 이와 같은 기능을 실행하는 클래스를 만들고, 실행결과를 보이시오.
example <- function(name)

{

  a=paste("Hello",name,"!")

  b=paste("Good-bye",name,"!")

  result <- list(a=a,b=b)

  return(result)

}

name <- "David"

aaa <- example(name)

aaa$a

aaa$b

In [23]:
class example:
  def __init__(self,name):
    self.name=name

  def hello(self):
    return "Hello " + self.name + "!"

  def bye(self):
    return "Good-bye " + self.name +"!"

aa=example('David')
print(aa.hello())
print(aa.bye())

Hello David!
Good-bye David!

In [14]:
class Student:
  def __init__(self,first,last):
    self.first=first
    self.last=last

  def capital_first(self):
    return self.first.upper()

aa=Student('John','Doe')
aa.first
aa.capital_first()

'JOHN'